{{ form_start(form) }}
    {{ form_widget(form) }}

    {# Vérifier si la route est "articles_edit" on affiche les images #}
    {% if app.request.attributes.get('_route') == 'admin_articles_edit' %}
        <h2>Images</h2>
        {% for image in article.images %}
            <div>
                <img src="{{ asset('/uploads/' ~ image.name) }}" style="color:white;" alt="Image" width="150">
                <a href="{{ path('admin_articles_delete_image', {id: image.id}) }}" class="mt-1 mb-1"data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer</a>
            </div>
        {% endfor %}
    {% endif %}
    <button class="btn btn-primary mt-1 mb-1">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
