{{ form_start(form) }}
    {{ form_widget(form) }}

    {% if app.request.attributes.get('_route') == 'consoles_minis_edit' %}
        <h2>Images</h2>
        {{ dump() }}
        {#{% for consolesminis in consoles_mini.images %}
            <div>
                
            </div>
        {% endfor %}#}
    {% endif %}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
