{% extends 'base.html.twig' %}

{% block title %}ConsolesMinis index{% endblock %}

{% block body %}
    <h1>ConsolesMinis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>New_price</th>
                <th>Used_price</th>
                <th>Content</th>
                <th>Slug</th>
                <th>Manufactured_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consoles_mini in consoles_minis %}
            <tr>
                <td>{{ consoles_mini.id }}</td>
                <td>{{ consoles_mini.name }}</td>
                <td>{{ consoles_mini.manufacturer }}</td>
                <td>{{ consoles_mini.newPrice }}</td>
                <td>{{ consoles_mini.usedPrice }}</td>
                <td>{{ consoles_mini.content }}</td>
                <td>{{ consoles_mini.slug }}</td>
                <td>{{ consoles_mini.manufacturedDate ? consoles_mini.manufacturedDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('consoles_minis_show', {'id': consoles_mini.id}) }}">show</a>
                    <a href="{{ path('consoles_minis_edit', {'id': consoles_mini.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('consoles_minis_new') }}">Create new</a>
{% endblock %}
