{% extends 'base.html.twig' %}

{% block title %}ConsolesMinis{% endblock %}

{% block body %}
    <h1>ConsolesMinis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consoles_mini.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ consoles_mini.name }}</td>
            </tr>
            <tr>
                <th>Manufacturer</th>
                <td>{{ consoles_mini.manufacturer }}</td>
            </tr>
            <tr>
                <th>New_price</th>
                <td>{{ consoles_mini.newPrice }}</td>
            </tr>
            <tr>
                <th>Used_price</th>
                <td>{{ consoles_mini.usedPrice }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ consoles_mini.content }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ consoles_mini.slug }}</td>
            </tr>
            <tr>
                <th>Manufactured_date</th>
                <td>{{ consoles_mini.manufacturedDate ? consoles_mini.manufacturedDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('consoles_minis_index') }}">back to list</a>

    <a href="{{ path('consoles_minis_edit', {'id': consoles_mini.id}) }}">edit</a>

    {{ include('consoles_minis/_delete_form.html.twig') }}
{% endblock %}
